### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Results Folders

CFM_main/results/
CFM_main/resultsFolder/
CFM_main/example_results_compare/
CFM_main/example_results2


*.pyc
*.nc
code/gasmodel/Results/conc_out.csv

code/gasmodel/Results/ESS524_fig1.eps

code/gasmodel/Results/ESS524_fig2.eps

Clim.csv
Dcon.csv
age.csv
ageSpin.csv
density.csv
densitySpin.csv
depth.csv
depthSpin.csv
r2.csv
r2Spin.csv
temp.csv
tempSpin.csv


*.log
*.avi
*.mov
*.png
*.eps
*.tif
*.tiff
*.epsc
*.tar
*.DS_store
*.DS_Store
*.hdf5


docs/_build
docs/_static
docs/_templates
/CFM_main/time_tracking_solver.txt

/icecore_data/data


# We don't want the following input files in our repo / on Github:
/CFM_main/CFMinput/grid_sensitivity_test_Acc_1yr.csv
/CFM_main/CFMinput/grid_sensitivity_test_Acc_constant.csv
/CFM_main/CFMinput/grid_sensitivity_test_Acc_constant_1yr.csv
/CFM_main/CFMinput/grid_sensitivity_test_T.csv
/CFM_main/CFMinput/grid_sensitivity_test_T_1yr.csv
/CFM_main/CFMinput/NGRIP_Acc_45_30kyr.csv
/CFM_main/CFMinput/NGRIP_Acc_65_30kyr.csv
/CFM_main/CFMinput/NGRIP_Acc_100kyr.csv
/CFM_main/CFMinput/NGRIP_T_45_30kyr.csv
/CFM_main/CFMinput/NGRIP_T_65_30kyr.csv
/CFM_main/CFMinput/NGRIP_T_100kyr.csv
/CFM_main/CFMinput/NGRIP_T_lo.csv
/CFM_main/CFMinput/NGRIP_T_lo_100kyr.csv
/CFM_main/CFMinput/NGRIP_T_up.csv
/CFM_main/CFMinput/NGRIP_T_up_100kyr.csv

/CFM_main/time/

/CFM_main/0001-making-a-completely-new-file-just-for-scipy.optimize.patch
/CFM_main/a_b.txt
/CFM_main/a_D.txt
/CFM_main/a_P.txt
/CFM_main/a_P_0.txt
/CFM_main/a_U.txt
/CFM_main/b0.txt
/CFM_main/dPdz.npy
/CFM_main/dscl.npy
/CFM_main/dt_airdict.npy
/CFM_main/dZ.npy
/CFM_main/fft.py
/CFM_main/FirnAir_NGRIP_Bar_lo.json
/CFM_main/FirnAir_NGRIP_Bar_up.json
/CFM_main/FirnAir_NGRIP_Gou_lo.json
/CFM_main/FirnAir_NGRIP_Gou_up.json
/CFM_main/FirnAir_NGRIP_HLd.json
/CFM_main/FirnAir_NGRIP_HLd_lo.json
/CFM_main/FirnAir_NGRIP_HLd_up.json
/CFM_main/FirnAir_solver_test.json
/CFM_main/gas_age.txt
/CFM_main/grid_res_sensitivity_HLdynamic_sin200yr_cod.pdf
/CFM_main/grid_res_sensitivity_HLdynamic_sin200yr_diff.pdf
/CFM_main/grid_res_sensitivity_HLdynamic_sin200yr_liz.pdf
/CFM_main/grid_res_test_NGRIP_45-30kyr_HLdynamic.pdf
/CFM_main/ice_age.txt
/CFM_main/main.prof
/CFM_main/martinerie.txt
/CFM_main/modeltime.txt
/CFM_main/op_por.txt
/CFM_main/output.txt
/CFM_main/output_profiler.prof
/CFM_main/por_cl_airdict.npy
/CFM_main/por_cl_edges.npy
/CFM_main/por_op_airdict.npy
/CFM_main/por_tot_airdict.npy
/CFM_main/pressure_airdict.npy
/CFM_main/rho_edges.npy
/CFM_main/test_solver.py
/CFM_main/time_w.npy
/CFM_main/time_w_jit.npy
/CFM_main/timer.py
/CFM_main/times_firn_air.txt
/CFM_main/times_firn_air_njit.txt
/CFM_main/Tz_airdict.npy
/CFM_main/w_1000yr.txt
/CFM_main/w_1000yr_njit.txt
/CFM_main/w_10000yr.txt
/CFM_main/w_10000yr_njit.txt
/CFM_main/w_firn_airdict.npy
/CFM_main/z_airdict.npy
/CFM_main/z_co_airdict.npy
/CFM_main/z_edges.csv
/CFM_main/z_edges.npy
/CFM_main/Z_P.npy

/.idea/
/CFM_main/.idea/

/icecore_data/src/resultsFolder/
/githubtoken_google_drive.odt

/CFM_main/CFMinput/*.csv